<div class = "container m-3">
  <h1>New Place</h1>

  <% if @current_user%>
    <%= form_with :model => @place do |form| %>
      <div class="mb-3">
        <%= form.label "name", :class => "form-label" %>
        <%= form.text_field "name", :class => "form-control" %>
      </div>
      <div class="mb-3" >
        <%= form.submit "Create Place", :class => "btn btn-primary" %>
      </div>
    <% end %>
  <% else %>
    <p> Login to add a place</p>
  <% end %>
</div>